/* fonts */

@font-face {
  font-family: 'Trajnus';
  src: local('Trajnus'), url(./fonts/TrajanusBricks.ttf) format('truetype');
}

.custom-text{
  font-family: Trajnus, Arial;
  position: relative;
  top: 0px;
  margin-top: 0px;
}

.custom-text1{
  font-family: Trajnus, Arial;
}

.custom-text2{
  font-family: Trajnus, Arial;
}

/* divs */

.div1{
  text-align: center;
  margin: 0px;
  padding: 10px;
  width: auto;
  top: 10px;
  background-color: #1b1b1b;
}


/* image size */
/* .img-wrap{
  width: 200px;
  height: 10px;
  display: inline;
}

 .img-wrap > img {
  max-width: 100%;
  max-height: 100%;
  min-width: 1%;
  min-height: 1%;
 } */

/* images */

.logo_text{
  margin-top: 10px;
  margin-bottom: 50px;
  height: 5em;
  top: 10px;
}

.button1{
  margin: 0.5em;
  padding: 0px;
  background-color: #1b1b1b;
  border: 0px;
  transition-duration: 200ms;
  max-width: 100%;
  max-height: 100%;
  min-width: 1%;
  min-height: 1%;
  font-family: Trajnus, Arial;
  font-size: 30px;
}

.button1:hover{
  background-color: #61dafb;
  color: #1b1b1b;
}

.button1:active{
  background-color: red;
  color: #1b1b1b;
  transform: translateY(4px);
}


.button2{
  margin: 0.5em;
  padding: 0px;
  border: 0px;
  transition-duration: 200ms;
  max-width: 100%;
  max-height: 100%;
  min-width: 1%;
  min-height: 1%;
  font-family: Trajnus, Arial;
  font-size: 30px;
}

.button2:hover{
  background-color: #61dafb;
  color: #1b1b1b;
}

.button2:active{
  background-color: red;
  color: #1b1b1b;
  transform: translateY(4px);
}

/* status-text */

.statusText {
  font-family: Trajnus, Arial;
  font-size: 2em;
  font-weight: bold;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

input {
  font-family: Trajnus, Arial;
  font-size: 1.5em;
  height: 1.6em;
  width: 25%;
  padding: 8;
  border: 1px solid #ccc;
}

.App-header {
  background-color: #1b1b1b;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
